# Container name prefix
CONTAINER_NAME_PREFIX=booktracker

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-it-please
POSTGRES_DB=booktracker_db

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Backend
BACKEND_PORT=4000
DB_HOST=localhost

# MinIO
MINIO_URL=http://localhost:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=replace-it-please
MINIO_URL_EXPIRY=1h
MINIO_COVERS_BUCKET=covers

# Other
SHOW_SQL=true
MAX_FILE_SIZE=10MB