# Container name prefix
CONTAINER_NAME_PREFIX=booktracker

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-it-please
POSTGRES_DB=booktracker_db

# Backend
BACKEND_PORT=4000
DB_HOST=localhost

# MinIO
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_URL=http://localhost:${MINIO_PORT}
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=replace-it-please
MINIO_URL_EXPIRY=1h
MINIO_COVERS_BUCKET=covers

# Image
IMAGE_TARGET_FORMAT=webp
IMAGE_QUALITY=0.8
IMAGE_MAX_WIDTH=1080
IMAGE_MAX_HEIGHT=1080

# Argon2
ARGON2_SALT_LENGTH=16
ARGON2_HASH_LENGTH=32
ARGON2_PARALLELISM=1
ARGON2_MEMORY=16384
ARGON2_ITERATIONS=2

# OTP
OTP_CODE_LENGTH=6
OTP_CODE_EXPIRY=10m

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENABLE_AUTH=true
SMTP_ENABLE_TLS=true

# JWT
JWT_SECRET=replace-it-please
JWT_ACCESS_EXPIRY=10m
JWT_REFRESH_EXPIRY=30d
JWT_ISSUER=http://localhost:8080

# Documentation
ENABLE_API_DOCS=true
ENABLE_SWAGGER_UI=true

# Other
SHOW_SQL=true
MAX_FILE_SIZE=10MB